@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

$regularfont: 'Roboto', sans-serif;
$monofont: SFMono-Regular, Menlo, Monaco, 'Courier New', monospace;
//$monofont: 'Oxygen Mono', monospace;

$darkcolor: #000;
$primarycolor: #cf2192;
$secondarycolor: #0187bc;
$black-30-opacity: rgb(0 0 0 / 30%);
$black-60-opacity: rgb(0 0 0 / 60%);

$shadow-10px: 0 0 0.625rem;
$shadow-16px: 0 0 1rem;

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
}

.wrapper-inside {
  padding-bottom: 8.75rem;
}

body {
  background-color: #fff;
  color: $darkcolor;
}

.w-full {
  width: 100%;
}

.container {
	font-family: $regularfont;
}

.monofont {
  font-family: $monofont;
}

.color-primary {
  color: $primarycolor;
}

button.color-primary:hover ,
button.color-primary:focus ,
a.color-primary:hover ,
a.color-primary:focus {
  color: #555;
}

.color-secondary {
  color: $secondarycolor;
}

.background-color-primary {
  background-color: $primarycolor;
}

.background-color-secondary {
  background-color: $secondarycolor;
}

.background-white {
  background-color: #fff;
  :hover {
    background-color: #f8f9fa;
  }
}

h1, h2, h3, h4, h5, h6 {
	font-family: $regularfont;
	margin: .625rem 0;
}

.fs-0 {
  font-size: 2.5rem;
}

.fs-1 {
  font-size: 2.25rem;
}

.fs-2 {
  font-size: 2.125rem;
}

.fs-3 {
  font-size: 2rem;
}

.fs-4 {
  font-size: 1.875rem;
}

.fs-5 {
  font-size: 1.75rem;
}

.fs-6 {
  font-size: 1.5rem;
}

.fs-7 {
  font-size: 1.375rem;
}

.fs-8 {
  font-size: 1.25rem;
}

.fs-9 {
  font-size: 1rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}
.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}
.text-8xl {
  font-size: 6rem;
  line-height: 1;
}
.text-9xl {
  font-size: 8rem;
  line-height: 1;
}

.btn-primarycolor,
.btn-primary  {
  background-color: $primarycolor;
  border-color: $primarycolor;
}

.btn-primarycolor:hover,
.btn-primary:hover ,
.btn-primarycolor:focus,
.btn-primary:focus {
  background-color: white;
  border-color: $primarycolor;
  color: $primarycolor;
}


.top-0 {
  top: 0;
}

.hidden {
  visibility: hidden;
}

.opacity-0 {
  visibility: hidden;
  animation-name: setOpacity;
  animation-duration: .375s;
  animation-fill-mode: forwards;
}

.opacity-1 {
  opacity: 1;
}

$homeAnimationDelay: 1.5s;

.hero-icon-container {
  .delay-05 {
    animation-delay: $homeAnimationDelay * 1.0 + 0.125s;
  }
  .delay-10 {
    animation-delay: $homeAnimationDelay * 1.0 + 0.25s;
  }
  .delay-15 {
    animation-delay: $homeAnimationDelay * 1.0 + 0.375s;
  }
  .delay-20 {
    animation-delay: $homeAnimationDelay * 1.0 + 0.5s;
  }
  .delay-25 {
    animation-delay: $homeAnimationDelay * 1.0 + 0.625s;
  }
  .delay-30 {
    animation-delay: $homeAnimationDelay * 1.0 + 0.75s;
  }
  .delay-35 {
    animation-delay: $homeAnimationDelay * 1.0 + 0.875s;
  }
  .delay-40 {
    animation-delay: $homeAnimationDelay * 1.25 + 0.0s;
  }
  .delay-45 {
    animation-delay: $homeAnimationDelay * 1.25 + 0.125s;
  }
  .delay-50 {
    animation-delay: $homeAnimationDelay * 1.25 + 0.25s;
  }
  .delay-55 {
    animation-delay: $homeAnimationDelay * 1.25 + 0.375s;
  }
  .delay-60 {
    animation-delay: $homeAnimationDelay * 1.25 + 0.5s;
  }
  .delay-65 {
    animation-delay: $homeAnimationDelay * 1.25 + 0.625s;
  }
  .delay-70 {
    animation-delay: $homeAnimationDelay * 1.25 + 0.75s;
  }
  .delay-75 {
    animation-delay: $homeAnimationDelay * 1.25 + 0.875s;
  }
  .delay-80 {
    animation-delay: $homeAnimationDelay * 1.5 + 0.0s;
  }
  .delay-85 {
    animation-delay: $homeAnimationDelay * 1.5 + 0.125s;
  }
  .delay-90 {
    animation-delay: $homeAnimationDelay * 1.5 + 0.25s;
  }
  .delay-95 {
    animation-delay: $homeAnimationDelay * 1.5 + 0.375s;
  }
  .delay-100 {
    animation-delay: $homeAnimationDelay * 1.5 + 0.5s;
  }
  .delay-105 {
    animation-delay: $homeAnimationDelay * 1.5 + 0.625s;
  }
  .delay-110 {
    animation-delay: $homeAnimationDelay * 1.5 + 0.75s;
  }
  .delay-115 {
    animation-delay: $homeAnimationDelay * 1.5 + 0.875s;
  }
  .delay-120 {
    animation-delay: $homeAnimationDelay * 1.75 + 0.0s;
  }
  .delay-125 {
    animation-delay: $homeAnimationDelay * 1.75 + 0.125s;
  }
  .delay-130 {
    animation-delay: $homeAnimationDelay * 1.75 + 0.25s;
  }
  .delay-135 {
    animation-delay: $homeAnimationDelay * 1.75 + 0.5s;
  }
  .delay-140 {
    animation-delay: $homeAnimationDelay * 1.75 + 0.625s;
  }
  .delay-145 {
    animation-delay: $homeAnimationDelay * 1.75 + 0.75s;
  }
}

$aboutAnimationDelay: .5s;

.icon-gallery {
  .delay-05 {
    animation-delay: $aboutAnimationDelay * 1.0 + 0.125s;
  }
  .delay-10 {
    animation-delay: $aboutAnimationDelay * 1.0 + 0.25s;
  }
  .delay-15 {
    animation-delay: $aboutAnimationDelay * 1.0 + 0.375s;
  }
  .delay-20 {
    animation-delay: $aboutAnimationDelay * 1.0 + 0.5s;
  }
  .delay-25 {
    animation-delay: $aboutAnimationDelay * 1.0 + 0.625s;
  }
  .delay-30 {
    animation-delay: $aboutAnimationDelay * 1.0 + 0.75s;
  }
  .delay-35 {
    animation-delay: $aboutAnimationDelay * 1.0 + 0.875s;
  }
  .delay-40 {
    animation-delay: $aboutAnimationDelay * 1.25 + 0.0s;
  }
  .delay-45 {
    animation-delay: $aboutAnimationDelay * 1.25 + 0.125s;
  }
  .delay-50 {
    animation-delay: $aboutAnimationDelay * 1.25 + 0.25s;
  }
  .delay-55 {
    animation-delay: $aboutAnimationDelay * 1.25 + 0.375s;
  }
  .delay-60 {
    animation-delay: $aboutAnimationDelay * 1.25 + 0.5s;
  }
  .delay-65 {
    animation-delay: $aboutAnimationDelay * 1.25 + 0.625s;
  }
  .delay-70 {
    animation-delay: $aboutAnimationDelay * 1.25 + 0.75s;
  }
  .delay-75 {
    animation-delay: $aboutAnimationDelay * 1.25 + 0.875s;
  }
  .delay-80 {
    animation-delay: $aboutAnimationDelay * 1.5 + 0.0s;
  }
  .delay-85 {
    animation-delay: $aboutAnimationDelay * 1.5 + 0.125s;
  }
  .delay-90 {
    animation-delay: $aboutAnimationDelay * 1.5 + 0.25s;
  }
  .delay-95 {
    animation-delay: $aboutAnimationDelay * 1.5 + 0.375s;
  }
  .delay-100 {
    animation-delay: $aboutAnimationDelay * 1.5 + 0.5s;
  }
  .delay-105 {
    animation-delay: $aboutAnimationDelay * 1.5 + 0.625s;
  }
  .delay-110 {
    animation-delay: $aboutAnimationDelay * 1.5 + 0.75s;
  }
  .delay-115 {
    animation-delay: $aboutAnimationDelay * 1.5 + 0.875s;
  }
  .delay-120 {
    animation-delay: $aboutAnimationDelay * 1.75 + 0.0s;
  }
  .delay-125 {
    animation-delay: $aboutAnimationDelay * 1.75 + 0.125s;
  }
  .delay-130 {
    animation-delay: $aboutAnimationDelay * 1.75 + 0.25s;
  }
  .delay-135 {
    animation-delay: $aboutAnimationDelay * 1.75 + 0.5s;
  }
  .delay-140 {
    animation-delay: $aboutAnimationDelay * 1.75 + 0.625s;
  }
  .delay-145 {
    animation-delay: $aboutAnimationDelay * 1.75 + 0.75s;
  }
}

@keyframes setOpacity {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.375);
  }
  25% {
    visibility: visible;
    opacity: 0;
    transform: scale(0.375);
  }
  50% {
    opacity: 0.5;
    visibility: visible;
    transform: scale(1.0);
  }
  75% {
    opacity: 0.75;
    visibility: visible;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

header {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1031;
  width: 100vw;
}

.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: block;
    margin: .625rem 0;
    padding: 0;
    a {
      margin: 0;
      padding: .625rem .825rem;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      transition: all .375s ease-in-out;
    }
    :hover {
      background-color: $primarycolor;
      border-radius: .3125rem;
    }
  }
}

.bg-gray-gradient-70-to-0 {
  background: linear-gradient(180deg, $black-30-opacity 0%,transparent);
}

footer {
  height: 8.75rem;
  margin-top: -8.75rem;
  .main-nav {
    display: none;
    li {
      a {
        color: $primarycolor;
      }
    }
  }
}

.menu-item-img {
  background-color: #f0f0f0;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.menu-item-img img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menu-item-img ,
.menu-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-item-img {
  flex-direction: column;
}

.menu-content-page {
  padding-top: 200px;
  .menu-item-img {
    min-height: 400px;
  }
  .menu-item-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  box-shadow: $shadow-10px $black-30-opacity;
  .hero-img-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 4.265rem 0;
    .hero-img {
      width: auto;
      height: 100%;
      max-width: none;
      max-height: none;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      visibility: hidden;
      transform: scale(1.1) translate(-50%,-50%);
      animation-name: setBackground;
      animation-duration: $homeAnimationDelay;
      animation-fill-mode: forwards;
    }
    .hero-icon-container {
      position: absolute;
      width: 100vw;
      height: 80vh;
      z-index: 3;
      opacity: .375;
      justify-content: space-around;
      align-items: stretch;
      svg {
        width: 8%;
        height: auto;
      }
    }
  }
  .hero-img-container::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    height: 0;
    background-color: $black-60-opacity;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100vh;
    text-align: center;
      .h1-ws {
        visibility: hidden;
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-delay: $homeAnimationDelay * 1.75 + 1.625s;
        animation-fill-mode: forwards;
      }
      .h1-freelance {
        visibility: hidden;
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-delay: $homeAnimationDelay * 1.75 + 1.25s;
        animation-fill-mode: forwards;
      }
      h3.fs-6.text-white ,
      h4.fs-6.text-white {
        visibility: hidden;
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-delay: $homeAnimationDelay * 1.75 + 1.25s;
        animation-fill-mode: forwards;
      }
      h1 , h2 , p{
        text-shadow: $shadow-10px $black-60-opacity;
      }
      .fs-0 {
        font-size: 1.8rem;
      }
      .fs-6 {
        font-size: 1.2rem;
      }
  }
}

@keyframes setBackground {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(0);
  }
  1% {
    visibility: visible;
    opacity: 0;
    filter: blur(0);
  }
  50% {
    opacity: 0.5;
    visibility: visible;
    filter: blur(0);
  }
  75% {
    opacity: 0.75;
    visibility: visible;
    filter: blur(0.175rem);
  }
  100% {
    opacity: 1;
    visibility: visible;
    filter: blur(0.375rem);
  }
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.photo-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  border-top-left-radius: .325rem;
}

.h1-ws ,
.h1-freelance {
  width: 90%;
  max-width: 400px;
}

.h1-ws {
  margin: 0 auto;
}

.h1-freelance {
  margin: 1.5rem auto 2rem auto;
}

.intro-area-container {
  padding-top: 3.5rem;
  .intro-area {
    position: relative;
    height: 40vh;
    min-height: 300px;
    background-position: center center;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    .text-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 4;
    }
    .fs-0.color-primary {
      text-shadow: $shadow-16px $black-30-opacity;
    }
  }
}

.intro-area-container .intro-area::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.65);
  transition: background-color .5s ease-in-out 10s;
  z-index: 2;
}

.text-shadow {
  text-shadow: 0 3px 6px rgba(0,0,0,.5);
}

.center-img {
  position: absolute;
  top: calc(50% - 2rem);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.icon-gallery {
  text-align: center;
  svg {
    width: 14%;
    height: auto;
  }
}

.portfolio-container {
  height: 80vh;
  min-height: 640px;
  transition: all .375s ease-in-out;
  border-radius: .625rem;
  .project-background-img {
    filter: grayscale(100%);
  }
}

.project-container {
  z-index: 3;
}

.portfolio-container::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  transition: background-color .5s ease-in-out;
  z-index: 2;
}

.project-logo-container {
  transform:scale(1);
  transition: transform  .375s ease-in-out;
}

.project-info-container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1030;
  height: 40%;
  background-color: rgba(255,255,255,.8);
  transition: background-color .5s ease-in-out;
  h2, p {
    transition: color .375s ease-in-out;
  }
  button {
    transition: all .375s ease-in-out;
  }
}

.portfolio-container:hover {
  .project-logo-container {
    transform:scale(1.5);
  }
  .project-background-img {
    filter: grayscale(0%);
  }
  .project-info-container {
    background-color: rgba(255,255,255,0);
    h2 , p {
      color: rgba(0,0,0,0);
    }
  }
  button.project-view-button {
    transform:scale(1.25);
  }
}

.portfolio-container:hover::before {
  background-color: rgba(0,0,0,.3);
}

.card-body {
  text-align: center;
  svg {
    width: 100px;
    height: auto;
  }
  svg:hover {
    color: $primarycolor;
  }
}

footer {
  .logo {
    width: 100%;
    height: auto;
  }
  svg {
    width: 30px!important;
    height: 30px!important;
    margin: .625rem;
    color: $primarycolor;
  }
}
.profile-pic {
  visibility: hidden;
  border: 0.25rem solid $primarycolor;
  box-shadow: $black-30-opacity $shadow-10px;
  animation-name: setProfilePic;
  animation-duration: .375s;
  animation-delay: $aboutAnimationDelay;
  animation-fill-mode: forwards;
  width: 12.5rem;
  height: auto;
}

@keyframes setProfilePic {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  50% {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
  }
  75% {
    opacity: 1;
    visibility: visible;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.project-tag {
  font-size: .625rem;
}

@media (min-width: 992px) {
  header {
    .main-nav li {
      display: inline-block;
      margin: 0 .625rem;
    }
  }

  .fs-0 {
    font-size: 5rem;
  }

  .fs-1 {
    font-size: 3.5rem;
  }

  .fs-2 {
    font-size: 3.25rem;
  }

  .fs-3 {
    font-size: 3rem;
  }

  .fs-4 {
    font-size: 2.75rem;
  }

  .fs-5 {
    font-size: 2.5rem;
  }

  .fs-6 {
    font-size: 2.25rem;
  }

  .fs-7 {
    font-size: 2rem;
  }

  .fs-8 {
    font-size: 1.75rem;
  }

  .fs-9 {
    font-size: 1.5rem;
  }

  .hero {
    .hero-img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .hero-icon-container {
        padding: 0;
        height: 66vh;
        width: 100vw;
        max-width: 1200px;
        svg {
          width: 7%;
          height: auto;
        }
      }
    }
    .hero-content {
      .fs-0 {
        font-size: 5rem;
      }
      .fs-6 {
        font-size: 2.25rem;
      }
    }
  }
  .icon-gallery {
    svg {
      width: 6%;
      height: auto;
    }
  }
  .h1-ws ,
  .h1-freelance {
    width: 50%;
    max-width: 768px;
  }

  .h1-ws {
    margin: 0 auto;
  }

  .h1-freelance {
    margin: 1.5rem auto 2rem auto;
  }

  .project-tag {
    font-size: 0.75rem;
  }

}

@media (min-width: 1024px) {
  .modal-dialog {
    width: 100%;
    max-width: 800px;
  }

  .portfolio-container {
    height: 480px;
    min-height: initial;
  }

  footer {
    .main-nav {
      display: block;
      li {
        display: inline-block;
        a {
          color: $primarycolor;
          transition: all .375s ease-in-out;
        }
        :hover {
          color: #fff;
          background-color: $primarycolor;
        }
      }
    }
  }
}


@media (min-width: 1400px) {
  .hero {
    .hero-img-container {
      .hero-img {
        width: 100vw;
        height: auto;
      }
    }
  }
}
