@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

$regularfont: 'Roboto', sans-serif;
$monofont: SFMono-Regular, Menlo, Monaco, 'Courier New', monospace;
//$monofont: 'Oxygen Mono', monospace;

$darkcolor: #000;
$primarycolor: #cf2192;
$secondarycolor: #0187bc;
$black-30-opacity: rgb(0 0 0 / 30%);
$black-60-opacity: rgb(0 0 0 / 60%);

$shadow-10px: 0 0 0.625rem;
$shadow-16px: 0 0 1rem;

body {
  background-color: #fff;
  color: $darkcolor;
}

.container {
	font-family: $regularfont;
}

.monofont {
  font-family: $monofont;
}

.color-primary {
  color: $primarycolor;
}

.color-secondary {
  color: $secondarycolor;
}

.background-color-primary {
  background-color: $primarycolor;
}

.background-color-secondary {
  background-color: $secondarycolor;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $regularfont;
	margin: .625rem 0;
}

.fs-0 {
  font-size: 5rem;
}

.fs-1 {
  font-size: 3.5rem;
}

.fs-2 {
  font-size: 3.25rem;
}

.fs-3 {
  font-size: 3rem;
}

.fs-4 {
  font-size: 2.75rem;
}

.fs-5 {
  font-size: 2.5rem;
}

.fs-6 {
  font-size: 2.25rem;
}

header {
  height: 100vh;
  padding: .625rem 0;
  z-index: 4;
  .row {
    height: 100vh;
  }
}

.btn-primarycolor {
  background-color: $primarycolor;
}

.top-0 {
  top: 0;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: .625rem 0;
    padding: 0;
    a {
      margin: 0;
      padding: .625rem;
      font-weight: bold;
    }
  }
}

header .main-nav li a {
  color: #fff;
}

.bg-gray-gradient-70-to-0 {
  background: linear-gradient(180deg, $black-30-opacity 0%,transparent);
}

footer .main-nav li a {
  color: $primarycolor;
}


.menu-item-img {
  background-color: #f0f0f0;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.menu-item-img img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menu-item-img ,
.menu-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-item-img {
  flex-direction: column;
}

.menu-content-page {
  padding-top: 200px;
  .menu-item-img {
    min-height: 400px;
  }
  .menu-item-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  box-shadow: $shadow-10px $black-30-opacity;
  .hero-img-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    .hero-img {
      width: auto;
      height: 100%;
      max-width: none;
      max-height: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: scale(1.1) translate(-50%,-50%);
      filter: blur(.375rem);
      z-index: 1;
    }
  }
  .hero-img-container::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    height: 0;
    background-color: $black-60-opacity;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    text-align: center;
      h1 , h2 , p{
        text-shadow: $shadow-10px $black-60-opacity;
      }
  }
}

.photo-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
}

.intro-area {
  position: relative;
  height: 30vh;
  min-height: 200px;
  // background-image: url(https://i.pinimg.com/originals/c5/92/41/c59241fa98161a106b9be08dccbd3ac9.jpg);
  background-position: center center;
  background-size: cover;
  background-color: #000;

  .text-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    // visibility: hidden;
  }
}

.text-shadow {
  text-shadow: 0 3px 6px rgba(0,0,0,.5);
}

footer {
  .logo {
    width: 100%;
    height: auto;
  }
  svg {
    width: 30px!important;
    height: 30px!important;
    margin: .625rem;
    color: $primarycolor;
  }
}

@media (min-width: 1024px) {
  header {
    height: initial;
    .row {
      height: initial;
    }
  }

  .main-nav li {
    margin: 0 .625rem;
  }

}


@media (min-width: 1400px) {
  .hero {
    .hero-img-container {
      .hero-img {
        width: 100vw;
        height: auto;
      }
    }
  }
}
